/************\
*** Global ***
\************/
:root {
    --navbar-backgroud-color: rgba(0, 0, 0, 0.8);
    --navbar-color: #f5f5f7;
    --banner-background-color: #e34140;
    --link-color: #06c;

    --product-height: 692px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
}

body {
    min-width: 320px;
    line-height: 1.47059;
    font-size: 106.25%;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    min-width: 1024px;
    background-color: var(--navbar-backgroud-color);
    font-size: 17px;
}

main {
}

section {
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/************\
*** Blocks ***
\************/
/* Header */
/*** Navbar ***/
.navbar-center {
    display: inline-block;
    max-width: 980px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 44px;
    min-width: 980px;
    transform: translateX(3px);
}

.nav-logo {
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_large.svg);
    background-position: center center;
    width: 14px;
}

.nav-search {
    background-size: 15px 88px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg);
    background-position: center center;
    width: 14px;
    background-position: 0 0;
}

.nav-cart {
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg);
    background-position: center center;
    width: 14px;
}

/*** Banner ***/
.holiday-banner {
    margin-top: 44px;
    background-color: var(--banner-background-color);
}

.arrow-icon {
    font-family: "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
}

/* Main */
.product-page {
    height: var(--product-height);
}
.holiday-logo {
    height: 88px;
    width: 70px;
    background-size: 70px 88px;
    background-repeat: no-repeat;
    background-image: url(../assets/img/logo__dcojfwkzna2q_medium_2x.png);
    margin: 0 auto;
}

.product-links {
    margin-top: 9px;
    color: var(--link-color);
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011rem;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
    margin-top: 0.65rem;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 246.39px);
    width: 100%;
}

.product-img {
    margin: 0 25px;
    width: 359px;
    height: 348px;
    background-size: 359px 348px;
    background-repeat: no-repeat;
}

/* Footer */

/**************\
*** Elements ***
\**************/

/* Header */
/*** Navbar ***/
.nav-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 29px;
    padding: 0 8px;
}

.nav-menu__item a {
    height: 100%;
    width: 100%;
    color: var(--navbar-color);
    font-size: 12px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 3.66667;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    opacity: 0.8;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.nav-menu__item a:hover {
    opacity: 1;
}

/*** Banner ***/
.holiday-banner__content {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 12px 0;
}

/* Main */
/*** Section ***/
.product-info__primary-title {
    margin-top: 20px;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
    color: #1d1d1f;
}

/* Footer */

/***************\
*** Modifiers ***
\***************/

/* Navbar */
/* Main */
/*** Section ***/
.product-page--holiday {
    background-color: #eaf2fc;
}

.product-info--holiday {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 37px;
}

.product-info--holiday > * {
    text-align: center;
}

.product-img--iphone13 {
    background-image: url(../assets/img/iphone__cyamwsdph26a_medium_2x.png);
}

.product-img--airpods {
    background-image: url(../assets/img/airpods__b0941p5gmwj6_medium_2x.png);
}

.product-img--ipad {
    background-image: url(../assets/img/ipad__bq6djchifrbm_medium_2x.png);
}

/* Footer */

/**************\
*** At-Rules ***
\**************/

/* Media */
/* Keyframes */
/* Transitions */
