/************\
*** Global ***
\************/
:root {
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
    font-size: 106.25%;
}

body {
    min-width: 320px;
}

nav {
}

main {
}

section {
}

/************\
*** Blocks ***
\************/

/* Navbar */
/* Main */
/* Footer */

/**************\
*** Elements ***
\**************/

/* Navbar */
/* Main */
/* Footer */

/***************\
*** Modifiers ***
\***************/

/* Navbar */
/* Main */
/* Footer */

/**************\
*** At-Rules ***
\**************/

/* Media */
/* Keyframes */
/* Transitions */
